@import url(https://g1.nyt.com/fonts/css/fonts.css);

body {
  margin: 0;
  font-family: "franklin-normal-400", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed {
  text-decoration: line-through;
}